
{% extends 'main/header.html' %}
{% block content %}
{% load static %}
<html lang="en">


<head>
	
	<link rel="stylesheet" href="{% static 'main/css/aboutus.css'%}">
	
</head>

<body onload="scrollWin()">
<script>
function scrollWin() {
  window.scrollTo(0, 0);
}
</script>

<div>
<section id="intro">
<div>
	<p class="about">About TheLifeCycle</p>
	
	<p>The purpose of this project is to develop a website that can distinguish between different types of garbage. 
	
	</p>
	<p>
	The website will then return basic information about this piece of trash, such as if it is recyclable and how long it would take to decompose in nature. 
	</p>
	
	<p>
	This will help users better understand how the trash they produce affects the world long after they throw it out.
	</p>
	
</div>
</section>
</div>

<section id='middle'>
	<p class="about">About Us</p>
	
	<p>TheLifeCycle was written for the <a href="https://bytekodehackathon.devpost.com/">ByteKode Hackathon 2021</a></p>
	<p>We are a group of four teenagers from the San Francisco Bay Area. Our goal is to apply current technology, such as Artifical Intelligence, to combat challenges our current world.</p>

</section>
<br>
<br>
</body>


{% endblock %}
