{% extends 'main/header.html' %}
{% block content %}
{% load static %}

<body>
<div style="justify-content: center;">
    <div class="intro">
        <div id="opening">
            <img src="{% static 'graphics/trash.png'%}" alt="Image of Trash" style="width: 100%">

        </div>
    </div>
    <div class="intro2">
        <div>
            <h1 id="textbeforestat" style="font-family: boldflow;">
                Classify garbage and learn how it decomposes over time
            </h1>
            <!-- <div style="width: 30%;"> -->
            <div id="chart">
                <div class="row">
                    <div class="column">
                        <h2 style="text-align:left; font-size:34px">
                            Easily learn about how you can help the environment and how your trash decomposes over time
                        </h2>
                        <br>
                        <br>
                        <a id="start"
                                style="float: left; font-family: Verdana, Geneva, Tahoma, sans-serif; width: 200px; margin-bottom: 30px;">
                            Get
                            Started
                        </a>
                       
                        <a id="learnmore" href="/about"
                                style="float: left; font-family: Verdana, Geneva, Tahoma, sans-serif; width: 200px;" >Learn More
                        </a>
                    
                    </div>
                    <div class="column"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}
